<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Developers</h5>
                <h4 class="grey-text text-lighten-4">Hardik Ghusar</h4>
                <h4 class="grey-text text-lighten-4">Rahul Parmar</h4>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text" style="text-align: center">Contact Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><p style="text-align: center;"><i class="fa fa-facebook-official" style="font-size:30px;color:#29b6f6;"></i></p></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><p style="text-align: center;"><i class="	fa fa-github-square" style="font-size:30px;color:#29b6f6;"></i></p></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><p style="text-align: center;"><i class="fa fa-instagram" style="font-size:30px;color:#29b6f6;"></i></p></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright
        </div>
    </div>
</footer>