<nav class="navbar navbar-default h70 blue-bg" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand " href="#">
                <span class="glyphicon glyphicon glyphicon-search font-dhed small-top-marg small-left-space"></span>
                <span class="amazing-text font-dhed small-left-space">WhatCanYouDO</span>
            </a>
        </div>

        <ul class="nav navbar-nav font-dhed">
            <li><a href="/">Home</a></li>
        </ul>
      
</nav>