<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="input-group middle-main">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">go</button>
            </span>
        </div>
        <div class ="middle-main blue-bg">
            <ul class="pad0 marg0">
                <li>SSC <span class="cross sm-left-space">X</span></li>
                <li>barmu<span class="cross sm-left-space">X</span></li>
            </ul>
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src ="/javascripts/custom.js"></script>
</body>
</html>