<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
        <input type="text" id="searchfield" />
        <button >Submit</button>
    </main>

    <footer>
        <% include footer %>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src ="/javascripts/custom.js"></script>
</body>
</html>